/* styles.css */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    padding: 0;
    list-style: none;
    /* background: #444; */
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

h2 {
    color: #333;
    font-size: 1.8em;
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
}

p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}