/* General Styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  
  header {
    background: #fff;
    padding: 20px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-left: auto; /* Ensures icons are at the right end */
  }
  
  .social-icons a {
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    transform: scale(1.1);
  }
  
  .social-icons .fa-twitter {
    color: #1da1f2;
  }
  
  .social-icons .fa-github {
    color: #333;
  }
  
  .social-icons .fa-linkedin {
    color: #0a66c2;
  }
  
  .social-icons .fa-dribbble {
    color: #ea4c89;
  }
  
  /* Hero Section Styles */
  .hero {
    display: flex;
    align-items: center;
    padding: 60px;
    background: #fff;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .hero-image img {
    border-radius: 50%;
    /* max-width: 400px; */
    width: 250px;
    height: 250px;
  }
  
  .hero-text {
    flex: 2;
    padding-left: 50px;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  /* Projects Section Styles */
  #projects {
    padding: 60px 0;
  }
  
  #projects h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .card .btn {
    width: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  
  /* Modal Styles */
  .modal-header {
    background-color: white;
    color: black;
  }
  
  .modal-title {
    font-weight: bold;
  }
  
  .modal-body ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .modal-body p {
    margin-bottom: 15px;
  }
  
  /* Footer Styles */
  footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Smooth Scrolling */
  html {
    scroll-behavior: smooth;
  }